/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 sept. 2014, 14:04:14
    Author     : agory
*/
@charset "UTF-8";

/**
 *    Ideal resolution: 1280 * 960 pixels
 */

html, body {
   height: 100%;
   background-color: #FFFFFF;
   border: 0px solid transparent;
   font-size: 1em; /* Ideal: 16px */
   margin: 0px 0px 0px 0px;
   min-height: 100%;
   padding: 0px 0px 0px 0px;
   width: 100%;
}

img, object, embed, canvas, video, audio, picture {
   max-width: 100%;
   height: auto;
}

.main {
   height: 100%;
   margin: 0px auto 0px auto;
   min-height: 100%;
   width: 100%; /* Ideal: 1024px -> 1024 / 1280 */
}

.content{
   display: inline-block;
   height: 100%;
   min-height: 100%;
   vertical-align: top;
   color: #000000;
   background-color: #FFFFFF;
   width: 100%; /* Ideal: 596px -> 596 / 1024 */
}

.menu {
   color: #FFFFFF;
   background-color: #CC0000;
   width: 100%; /* Ideal: 214px -> 214 / 1024 */
   padding: 0px;
   margin: 0px;
}

.headerMenu{
    background-color: #000000;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.headerMenu div{
    display: inline-block;
    vertical-align: top;
    margin: 0px;
}
.headerMenu .profil{
    padding: 5px 5px 2px 5px;
    background-color: red;
}
.headerMenu .profil img{ 
    padding: 0px;
    margin: 0px;
}
.headerMenu .titre {
    padding: 5px 0px 5px 10px;
}
.navigation {
    vertical-align: top;
    text-align: right;
    width: 100%;
    background-color: grey;
}
.content, .adv {
   padding: 5px 5px 5px 5px;
}

.menu h1 {
   font-size: 1.5em; /* Ideal: 24px */
}

.menu li {
   list-style: none;
}

.menu li a {
   color: #FFFFFF;
}

   
.menu li {
   display: inline-block;
   margin-right: 2.6041666666666666666666666666667%; /* Ideal: 25px -> 25 / 960 */
}

.menu li a:hover {
   color: #000000;
}

.content .content-item {
   border-top: 1px solid #36393D;
   clear: both;
   margin: 0px auto 0px auto;
   padding: 15px 0px 15px 0px;
   text-align: center;
   width: 90.939597315436241610738255033557%; /* Ideal: 542px -> 542 / 596 */
}

.content .content-item:first-child {
   border: 0px solid transparent;
}

.content .content-item h1 {
   font-size: 1.5em; /* Ideal: 24px */
}

.content .content-item p.description {
   font-size: 0.750em; /* Ideal: 12px */
   font-style: italic;
}

.content .content-item div.article {
   text-align: justify;
}

.content .content-item img.article-image {
   float: left;
   padding: 0px 25px 25px 0px;
   width: 16.107382550335570469798657718121%; /* Ideal: 96px -> 96 / 596 */
}

@media screen and (min-width: 421px) {
   .menu select {
      display: none;
   }
}

@media screen and (max-width: 1024px) {
   .main {
      width: 100%;
   }
}

@media screen and (max-width: 960px) {
   .menu {
      display: block;
      height: auto;
      min-height: 10%;
      vertical-align: top;
      width: 100%;
   }
   
   .content {
      width: 79.1015625%;
   }
}

@media screen and (max-width: 760px) {
   .main {
      margin: 0px 0px 0px 0px;
      width: 100%;
   }
}

@media screen and (max-width: 640px) {   
   .content {
      display: block;
      height: auto;
      min-height: auto;
      width: 100%;
   }
}

@media screen and (max-width: 420px) {
   .menu ul {
      display: none;
   }
   
   .menu select {
      display: inherit;
      width: 96%;
   }
}

@media screen and (max-width: 320px) {
   .content .content-item img.article-image {
      display: none;
   }
}
